


/venv
__pycache__/
*.pyc
.mypy_cache/

.DS_Store
*.DS_Store

output/
# output-results/
data/

fin_results/


.env

static/
postgres-setup.md
server_setup.md
.django_tailwind_cli/

.django_tailwind_cli/tailwindcss-macos-arm64-4.1.12